/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.head{
  text-align: center;
  font-size: 50px;
  padding: 25px;
}

.search{
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 22px;
}

.search-input {
  width: 300px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 5px; /* Add some padding */
}


.error-message{
  height: 5px;
  color: red;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}